<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="factory">
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/restaurant</property>
		<property name="connection.username">
			root
		</property>
		<property name="connection.password">
			root
		</property>
		<property name="connection.pool_size">5</property>
		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<!-- Echo all executed SQL to stdout -->

		<property name="hbm2ddl.auto">update</property>

 		<!-- mappings for annotated classes -->
 		<mapping class="app.restaurant.model.Masa" />
 		<mapping class="app.restaurant.model.Produs" />
 		<mapping class="app.restaurant.model.Customer" />
 		<mapping class="app.restaurant.model.Comanda" />
 		<mapping class="app.restaurant.model.Categorie" />
 		<mapping class="app.restaurant.model.IstoricComenzi" />
 		<mapping class="app.restaurant.model.NotaDePlata" />

	</session-factory>
</hibernate-configuration>